# 4.10 Coding Etiquette & Excel Reporting - Pt 1, Step 5

## List of Contents:
### 01. Import data and libraries
### 02. Find PII data and address it
### 03. Regional segmentation of the data
### 04. Exclude low-activity customers

# 01.  Import data and libraries

In [1]:
# Libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Create path

path=r'/Users/nikolinastekovic/Library/CloudStorage/OneDrive-Personal/CF DATA ANALYICS/Immerse/4-Python/Instacart Basket Analysis'

In [3]:
# Import dataframe from excercise 4.9, pt. 1

instacard_basket = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'instacard_basket_merged.pkl'))

In [4]:
# Check df import

instacard_basket.head()

,order_id,user_id,order_number,Day_of_order,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,frequency_flag,first_name,last_name,gender,state,age,date_joined,n_dependants,marital_status,income
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,False,196,1,1,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,False,196,1,1,...,Non-frequent customer,Linda,Nguyen,Female,Alabama,31,2/17/2019,3,married,40423

In [6]:
# Check df shape

instacard_basket.shape

(32404859, 34)

# 02. Find PII data and address it

 PII data:'first_name' and 'last_name' columns

In [7]:
# Drop'first_name' and 'last_name' columns

instacard_basket = instacard_basket.drop(['first_name', 'last_name'], axis=1)

In [9]:
instacard_basket.head()

,order_id,user_id,order_number,Day_of_order,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,spending_flag,median_days,frequency_flag,gender,state,age,date_joined,n_dependants,marital_status,income
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
2,473747,1,3,3,12,21.0,False,196,1,1,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423
4,431534,1,5,4,15,28.0,False,196,1,1,...,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423

# 03. Regional segmentation of the data

In [10]:
# Create variables that contain lists of strings representing states

Northeast = ['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']

Midwest = ['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']

South = ['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Louisiana']

West = ['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']

In [11]:
# Adding a new column called 'region' and populating it by using .loc function

instacard_basket.loc[instacard_basket['state'].isin(Northeast), 'region'] = 'Northeast'

instacard_basket.loc[instacard_basket['state'].isin(Midwest), 'region'] = 'Midwest'

instacard_basket.loc[instacard_basket['state'].isin(South), 'region'] = 'South'

instacard_basket.loc[instacard_basket['state'].isin(West), 'instacard_basket'] = 'West'

In [13]:
# Check the number of rows in 'region'

num_rows = len(instacard_basket['region'])

In [14]:
# Print the number of rows

print(num_rows)

32404859

In [15]:
# Check that the column is added to the df

instacard_basket.columns

Index(['order_id', 'user_id', 'order_number', 'Day_of_order',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', '_merge', 'price_range_loc',
       'busiest_day', 'busiest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'price_mean', 'spending_flag', 'median_days',
       'frequency_flag', 'gender', 'state', 'age', 'date_joined',
       'n_dependants', 'marital_status', 'income', 'region'],
      dtype='object')

# 04. Exclude low-activity customers

* low activity customers are the ones with less than 5 orders

In [16]:
# Derive variable 'low_activity' in new column 'customer_activity'

instacard_basket.loc[instacard_basket['max_order'] < 5, 'customer_activity'] = 'low_activity'

In [17]:
# Derive variable 'high_activity' in new column 'customer_activity'

instacard_basket.loc[instacard_basket['max_order'] >= 5, 'customer_activity'] = 'high_activity'

In [18]:
# Print frequency

instacard_basket['customer_activity'].value_counts(dropna = False)

customer_activity
high_activity    30964564
low_activity      1440295
Name: count, dtype: int64

In [19]:
# Check that the column is added to the df

instacard_basket.columns

Index(['order_id', 'user_id', 'order_number', 'Day_of_order',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', '_merge', 'price_range_loc',
       'busiest_day', 'busiest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'price_mean', 'spending_flag', 'median_days',
       'frequency_flag', 'gender', 'state', 'age', 'date_joined',
       'n_dependants', 'marital_status', 'income', 'region',
       'customer_activity'],
      dtype='object')

In [23]:
# Subset of low activity customers

low_activity_customers = instacard_basket[instacard_basket['customer_activity']=='low_activity']

In [24]:
low_activity_customers.shape

(1440295, 34)

In [27]:
# Export subset of low activity customers to pkl

low_activity_customers.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'low_activity_customers.pkl'))

In [25]:
# Subset of high activity customers

high_activity_customers = instacard_basket[instacard_basket['customer_activity']=='high_activity']

In [26]:
high_activity_customers.shape

(30964564, 34)

In [28]:
# Export subset of high activity customers to pkl

high_activity_customers.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'high_activity_customers.pkl'))