# 4.10 Coding Etiquette & Excel Reporting - Part 1, Step 5

## List of Contents:
### 01. Age Groups
### 02. Income
### 03. Departments
### 04. Number of dependants
### 05. Customer Profiles
### 06. New Dataframe Export

# 01.  Import data and libraries

In [1]:
# Libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Create path

path=r'/Users/nikolinastekovic/Library/CloudStorage/OneDrive-Personal/CF DATA ANALYICS/Immerse/4-Python/Instacart Basket Analysis'

In [3]:
# Import dataframe with high-frequency customers

instacard_basket_high = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'high_activity_customers.pkl'))

In [4]:
instacard_basket_high.shape

(30964564, 34)

In [5]:
instacard_basket_high.head()

,order_id,user_id,order_number,Day_of_order,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,frequency_flag,gender,state,age,date_joined,n_dependants,marital_status,income,region,customer_activity
0,2539329,1,1,2,8,NaN,True,196,1,0,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high_activity
1,2398795,1,2,3,7,15.0,False,196,1,1,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high_activity
2,473747,1,3,3,12,21.0,False,196,1,1,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high_activity
3,2254736,1,4,4,7,29.0,False,196,1,1,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high_activity
4,431534,1,5,4,15,28.0,False,196,1,1,...,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,high_activity

# 01. Age Groups

In [6]:
#  Insights into the distribution and characteristics of the 'age' column

age_description = instacard_basket_high['age'].describe()

In [7]:
print(age_description)

count    3.096456e+07
mean     4.946803e+01
std      1.848528e+01
min      1.800000e+01
25%      3.300000e+01
50%      4.900000e+01
75%      6.500000e+01
max      8.100000e+01
Name: age, dtype: float64

Age group comparison between:
Young adult (18-25 age), Adult (26-44 age), Middle-age (45-59 age), Old age (60 age and older)

In [8]:
# Adding a new column called 'age_groups' and populating it by using .loc function

instacard_basket_high.loc[(instacard_basket_high['age']<=25), 'age_group']='Young Adult'

instacard_basket_high.loc[(instacard_basket_high['age']>25)&(instacard_basket_high['age']<=45), 'age_group']='Adult'

instacard_basket_high.loc[(instacard_basket_high['age']>45)&(instacard_basket_high['age']<=60), 'age_group']='Middle Age'

instacard_basket_high.loc[(instacard_basket_high['age']>60), 'age_group']='Old Age'

In [9]:
# Check frequency 

instacard_basket_high['age_group'].value_counts(dropna=False)

age_group
Old Age        10112607
Adult           9702539
Middle Age      7284900
Young Adult     3864518
Name: count, dtype: int64

In [10]:
# Controlling the results

instacard_basket_high[['age','age_group']].value_counts()

age  age_group
79   Old Age        508337
49   Middle Age     507879
48   Middle Age     506730
31   Adult          506218
64   Old Age        504832
                     ...
60   Middle Age     461897
36   Adult          460649
66   Old Age        454604
41   Adult          451269
25   Young Adult    449324
Name: count, Length: 64, dtype: int64

# 02. Income

In [11]:
#  Insights into the distribution and characteristics of the 'income' column

income_description = instacard_basket_high['income'].describe()

In [12]:
print(income_description)

count    3.096456e+07
mean     9.967587e+04
std      4.314187e+04
min      2.590300e+04
25%      6.729200e+04
50%      9.676500e+04
75%      1.281020e+05
max      5.939010e+05
Name: income, dtype: float64

In the second quarter of 2023, middle-income Americans had annual incomes between $38133 and $114400, before adjusting for local cost of living and household size.

Income Class comparison between: Lower Income, Middle Income and Upper Income.

In [13]:
# Adding a new column called 'income_class' and populating it by using .loc function

instacard_basket_high.loc[(instacard_basket_high['income']<=38133), 'income_class']='Lower Income'

instacard_basket_high.loc[(instacard_basket_high['income']>38133)&(instacard_basket_high['age']<=114400), 'income_class']='Middle Income'

instacard_basket_high.loc[(instacard_basket_high['income']>114400), 'income_class']='Upper Income'

In [14]:
# Check frequency 

instacard_basket_high['income_class'].value_counts(dropna=False)

income_class
Middle Income    19122764
Upper Income     10505795
Lower Income      1336005
Name: count, dtype: int64

In [15]:
# Controlling the results

instacard_basket_high[['income','income_class']].value_counts()

income  income_class
72344   Middle Income    4395
112610  Middle Income    4242
57501   Middle Income    4136
115620  Upper Income     3831
36163   Lower Income     3657
                         ...
36018   Lower Income        5
128931  Upper Income        5
33040   Lower Income        5
90002   Middle Income       5
147660  Upper Income        2
Name: count, Length: 96069, dtype: int64

# 03. Departments

In [16]:
# Importing department data

dept = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'), index_col = False)

In [17]:
dept

    Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing

In [18]:
# Rename first column

dept.rename(columns={'Unnamed: 0': 'department_id'}, inplace=True)

In [19]:
# Merging the departments dataframe with the high activity customer dataframe

instacard_basket_merged = instacard_basket_high.merge(dept, on = 'department_id')

In [20]:
instacard_basket_merged.head()

,order_id,user_id,order_number,Day_of_order,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,age,date_joined,n_dependants,marital_status,income,region,customer_activity,age_group,income_class,department
0,2539329,1,1,2,8,NaN,True,196,1,0,...,31,2/17/2019,3,married,40423,South,high_activity,Adult,Middle Income,beverages
1,2398795,1,2,3,7,15.0,False,196,1,1,...,31,2/17/2019,3,married,40423,South,high_activity,Adult,Middle Income,beverages
2,473747,1,3,3,12,21.0,False,196,1,1,...,31,2/17/2019,3,married,40423,South,high_activity,Adult,Middle Income,beverages
3,2254736,1,4,4,7,29.0,False,196,1,1,...,31,2/17/2019,3,married,40423,South,high_activity,Adult,Middle Income,beverages
4,431534,1,5,4,15,28.0,False,196,1,1,...,31,2/17/2019,3,married,40423,South,high_activity,Adult,Middle Income,beverages

In [21]:
# Check frequency 

instacard_basket_merged['department'].value_counts(dropna=False)

department
produce            9079273
dairy eggs         5177182
snacks             2766406
beverages          2571901
frozen             2121731
pantry             1782705
bakery             1120828
canned goods       1012074
deli               1003834
dry goods pasta     822136
household           699857
meat seafood        674781
breakfast           670850
personal care       424306
babies              410392
international       255991
alcohol             144627
pets                 93060
missing              64768
other                34411
bulk                 33451
Name: count, dtype: int64

Based on the departments we can differentiate 3 main groups: Food, Household&Personal, Other.

In [22]:
# Create department_group variables that contain lists of strings from department list

Food = ['produce', 'dairy eggs', 'snacks', 'beverages', 'frozen', 'pantry', 'bakery', 'canned goods', 'deli','dry goods pasta', 'meat seafood', 'breakfast']

Household_and_Personal = ['household', 'personal care', 'babies', 'pets']

Other = ['missing', 'other', 'bulk', 'international', 'alcohol']

In [23]:
instacard_basket_merged.loc[instacard_basket_merged['department'].isin(Food), 'department_group'] = 'Food'

instacard_basket_merged.loc[instacard_basket_merged['department'].isin(Household_and_Personal), 'department_group'] = 'Household_and_Personal'

instacard_basket_merged.loc[instacard_basket_merged['department'].isin(Other), 'department_group'] = 'Other'

In [24]:
# Check frequency 

instacard_basket_merged['department_group'].value_counts(dropna=False)

department_group
Food                      28803701
Household_and_Personal     1627615
Other                       533248
Name: count, dtype: int64

# 04. Number of dependants

In [25]:
# Check frequency  'n_dependants' 

instacard_basket_merged['n_dependants' ].value_counts(dropna=False)

n_dependants
3    7772516
0    7739681
2    7733261
1    7719106
Name: count, dtype: int64

Based on the size of the household we can differentiate: One-person houshold, Small Houshold (Up to 3 members) and Big Household (4 members and more)

In [26]:
# Adding a new column called 'household_size' and populating it by using .loc function

instacard_basket_merged.loc[(instacard_basket_merged['n_dependants']<=0), 'household_size']='One-person houshold'

instacard_basket_merged.loc[(instacard_basket_merged['n_dependants']>0)&(instacard_basket_merged['n_dependants']<3), 'household_size']='Small Houshold'

instacard_basket_merged.loc[(instacard_basket_merged['n_dependants']>=3), 'household_size']='Big Household'

In [27]:
# Check frequency 

instacard_basket_merged ['household_size'].value_counts(dropna=False)

household_size
Small Houshold         15452367
Big Household           7772516
One-person houshold     7739681
Name: count, dtype: int64

# 05. Customer Profiles

In [28]:
# Check frequency 'marital_status' 

instacard_basket_merged['marital_status' ].value_counts(dropna=False)

marital_status
married                             21743711
single                               5094410
divorced/widowed                     2645271
living with parents and siblings     1481172
Name: count, dtype: int64

In [29]:
# Check frequency 'gender' 

instacard_basket_merged['gender' ].value_counts(dropna=False)

gender
Male      15586740
Female    15377824
Name: count, dtype: int64

Based on created groups we can differentiate there profiles: Single w/o Children (female), Single w/o Children (male), Single w/ Children (female), Single w/ Children (male), 2+ Person Non-Family, Maried Couple w/ Children, Marrie Couple w/o children, Other Family

In [30]:
instacard_basket_merged.loc[(instacard_basket_merged['marital_status'] != 'married')  & (instacard_basket_merged['gender'] == 'Female') & (instacard_basket_merged['n_dependants'] ==0), 'customer profile'] = 'Single w/o Children (female)'

instacard_basket_merged.loc[(instacard_basket_merged['marital_status'] != 'married')  & (instacard_basket_merged['gender'] == 'Male') & (instacard_basket_merged['n_dependants'] ==0), 'customer profile'] = 'Single w/o Children (male)'

instacard_basket_merged.loc[(instacard_basket_merged['marital_status'] != 'married')  & (instacard_basket_merged['gender'] == 'Female') & (instacard_basket_merged['n_dependants'] >0), 'customer profile'] = 'Single Parent (female)'

instacard_basket_merged.loc[(instacard_basket_merged['marital_status'] != 'married')  & (instacard_basket_merged['gender'] == 'Male') & (instacard_basket_merged['n_dependants'] >0), 'customer profile'] = 'Single Parent (male)'

instacard_basket_merged.loc[(instacard_basket_merged['marital_status'] == 'married')  & (instacard_basket_merged['n_dependants'] >1), 'customer profile'] = 'Married Couple w/ Children'

instacard_basket_merged.loc[(instacard_basket_merged['marital_status'] == 'married') & (instacard_basket_merged['n_dependants'] ==1), 'customer profile'] = 'Married Couple w/o Children'

In [31]:
# check columns

instacard_basket_merged.columns

Index(['order_id', 'user_id', 'order_number', 'Day_of_order',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', '_merge', 'price_range_loc',
       'busiest_day', 'busiest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'price_mean', 'spending_flag', 'median_days',
       'frequency_flag', 'gender', 'state', 'age', 'date_joined',
       'n_dependants', 'marital_status', 'income', 'region',
       'customer_activity', 'age_group', 'income_class', 'department',
       'department_group', 'household_size', 'customer profile'],
      dtype='object')

In [32]:
# Check Output

instacard_basket_merged.head()

,order_id,user_id,order_number,Day_of_order,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,marital_status,income,region,customer_activity,age_group,income_class,department,department_group,household_size,customer profile
0,2539329,1,1,2,8,NaN,True,196,1,0,...,married,40423,South,high_activity,Adult,Middle Income,beverages,Food,Big Household,Married Couple w/ Children
1,2398795,1,2,3,7,15.0,False,196,1,1,...,married,40423,South,high_activity,Adult,Middle Income,beverages,Food,Big Household,Married Couple w/ Children
2,473747,1,3,3,12,21.0,False,196,1,1,...,married,40423,South,high_activity,Adult,Middle Income,beverages,Food,Big Household,Married Couple w/ Children
3,2254736,1,4,4,7,29.0,False,196,1,1,...,married,40423,South,high_activity,Adult,Middle Income,beverages,Food,Big Household,Married Couple w/ Children
4,431534,1,5,4,15,28.0,False,196,1,1,...,married,40423,South,high_activity,Adult,Middle Income,beverages,Food,Big Household,Married Couple w/ Children

In [33]:
# Check frequency 'customer_profiles' 

instacard_basket_merged['customer profile'].value_counts(dropna=False)

customer profile
Married Couple w/ Children      14532650
Married Couple w/o Children      7211061
Single w/o Children (male)       3881398
Single w/o Children (female)     3858283
Single Parent (male)              757596
Single Parent (female)            723576
Name: count, dtype: int64

# 06. Export New Dataframe

In [34]:
# Exporting and saving dataframe

instacard_basket_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'instacard_basket_profiles.pkl'))